/* Others CSS
======================================================================= */
/* 加入mouse hover event 事件  */
.hover:hover {
    color: blue;
    cursor: pointer;
    font-weight: bolder;
    text-decoration: underline;
}

.focus_off{
	outline: none;
}

/* Modal
======================================================================= */
.modal{
	margin-top: 1% !important;
}

/* Menu
======================================================================= */
/* The container <div> - needed to position the dropdown content */
.menu-slider-horizontal {
	position: relative;
	display: inline-block;
}

li.menu-slider-horizontal > a {
	width:215px;
}

/* Dropdown Content (Hidden by Default) */
.menu-slider-horizontal-handle {
	display: none;
	position: absolute;
	background-color: #252525;
	min-width: 215px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	left:90%; 
	top:0%;
	list-style-type: none;
}

/* Links inside the dropdown */
.menu-slider-horizontal-handle a {
	display: block;
	padding: 8px 0px;
	padding-left: 36px !important;
	margin: 0px 0px 0px -40px;
	text-decoration: none;
	color: #cdcdcd;
	font-size: 14px;
}

/* Change color of dropdown links on hover */
.menu-slider-horizontal-handle a:hover {
	background-color: black;
	color: #FFFFFF !important;
}

/* Show the dropdown menu on hover */
.menu-slider-horizontal:hover .menu-slider-horizontal-handle {
	display: block;
}

.sub-menu-slider-horizontal {
	position: relative;
	display: inline-block;
}

li.sub-menu-slider-horizontal > a {
	width:215px;
}

/* Dropdown Content (Hidden by Default) */
.sub-menu-slider-horizontal-handle {
	display: none;
	position: absolute;
	background-color: #252525;
	min-width: 215px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	left:90%; 
	top:0%;
	list-style-type: none;
	/* -webkit-column-count: 3; */
	/* -moz-column-count: 3; */
	/* column-count: 3; */
}

/* Links inside the dropdown */
.sub-menu-slider-horizontal-handle a {
	display: block;
	padding: 8px 0px;
	padding-left: 36px !important;
	margin: 0px 0px 0px -40px;
	text-decoration: none;
	color: #cdcdcd;
	font-size: 14px;
	width:215px;
}

/* Change color of dropdown links on hover */
.sub-menu-slider-horizontal-handle a:hover {
	background-color: black;
	color: #FFFFFF !important;
}

/* Show the dropdown menu on hover */
.sub-menu-slider-horizontal:hover .sub-menu-slider-horizontal-handle {
	display: block;
}

/* Accordion
======================================================================= */
.osp_accordion .panel-heading{
    background-color: #d9f0ef !important;
}

.osp_accordion .panel-title a{
	text-decoration: none;
}

/* Form
======================================================================= */
/* service-order-assign */
.order_assign_open_datetime{margin-left: -45px;}
.order_assign_open_datetime_1{margin-left: 0px}
.order_assign_open_datetime_2{margin-left: -120px;}
.order_assign_close_datetime{margin-left: -60px;}
.order_assign_close_datetime_1{margin-left: 0px}
.order_assign_close_datetime_2{margin-left: -145px;}
.order_assign_open_row1{margin-left: 56px;}
.order_assign_open_row1 .order_assign_col_1{margin-left: 0px}
.order_assign_open_row1 .order_assign_col_2{margin-left: -89px;}
.order_assign_open_row1 .order_assign_col_3{margin-left: 100px;}
.order_assign_open_row1 .order_assign_col_4{margin-left: -50px;}
.order_assign_open_row2{margin-left: 56px;}
.order_assign_open_row2 .order_assign_col_1{margin-left: 0px}
.order_assign_open_row2 .order_assign_col_2{margin-left: -89px;}
.order_assign_open_row2 .order_assign_col_3{margin-left: 57px;}
.order_assign_open_row2 .order_assign_col_4{margin-left: -7px;}
.order_assign_open_row3{margin-left: 56px;}
.order_assign_open_row3 .order_assign_col_1{margin-left: 0px}
.order_assign_open_row3 .order_assign_col_2{margin-left: -89px;}
.order_assign_open_row3 .order_assign_col_3{margin-left: 133px;}
.order_assign_open_row3 .order_assign_col_4{margin-left: -84px;}
.order_assign_open_row4{margin-left: 56px;}
.order_assign_open_row4 .order_assign_col_1{margin-left: 0px}
.order_assign_open_row4 .order_assign_col_2{margin-left: -89px;}
.order_assign_open_row4 .order_assign_col_3{margin-left: 140px;}
.order_assign_open_row4 .order_assign_col_4{margin-left: -91px;}
.order_assign_open_row5{margin-left: 56px;}
.order_assign_open_row5 .order_assign_col_1{margin-left: 0px}
.order_assign_open_row5 .order_assign_col_2{margin-left: -89px;}
.order_assign_open_row5 .order_assign_col_3{margin-left: 140px;}
.order_assign_open_row5 .order_assign_col_4{margin-left: -91px;}
.order_assign_open_row6{margin-left: 30px;}
.order_assign_open_row6 .order_assign_col_1{margin-left: 0px}
.order_assign_open_row6 .order_assign_col_2{margin-left: -68px;}
.order_assign_open_row6 .order_assign_col_3{margin-left: 129px;}
.order_assign_open_row6 .order_assign_col_4{margin-left: -91px;}
.order_assign_close_row1{margin-left: 56px;}
.order_assign_close_row1 .order_assign_col_1{margin-left: 0px}
.order_assign_close_row1 .order_assign_col_2{margin-left: -103px;}
.order_assign_close_row1 .order_assign_col_3{margin-left: 100px;}
.order_assign_close_row1 .order_assign_col_4{margin-left: -70px;}
.order_assign_close_row2{margin-left: 56px;}
.order_assign_close_row2 .order_assign_col_1{margin-left: 0px}
.order_assign_close_row2 .order_assign_col_2{margin-left: -103px;}
.order_assign_close_row2 .order_assign_col_3{margin-left: 57px;}
.order_assign_close_row2 .order_assign_col_4{margin-left: -27px;}
.order_assign_close_row3{margin-left: 56px;}
.order_assign_close_row3 .order_assign_col_1{margin-left: 0px}
.order_assign_close_row3 .order_assign_col_2{margin-left: -103px;}
.order_assign_close_row3 .order_assign_col_3{margin-left: 134px;}
.order_assign_close_row3 .order_assign_col_4{margin-left: -103px;}
.order_assign_close_row4{margin-left: 56px;}
.order_assign_close_row4 .order_assign_col_1{margin-left: 0px}
.order_assign_close_row4 .order_assign_col_2{margin-left: -103px;}
.order_assign_close_row4 .order_assign_col_3{margin-left: 140px;}
.order_assign_close_row4 .order_assign_col_4{margin-left: -109px;}
.order_assign_close_row5{margin-left: 56px;}
.order_assign_close_row5 .order_assign_col_1{margin-left: 0px}
.order_assign_close_row5 .order_assign_col_2{margin-left: -103px;}
.order_assign_close_row5 .order_assign_col_3{margin-left: 140px;}
.order_assign_close_row5 .order_assign_col_4{margin-left: -109px;}
.order_assign_close_row6{margin-left: 30px;}
.order_assign_close_row6 .order_assign_col_1{margin-left: 0px}
.order_assign_close_row6 .order_assign_col_2{margin-left: -80px;}
.order_assign_close_row6 .order_assign_col_3{margin-left: 128px;}
.order_assign_close_row6 .order_assign_col_4{margin-left: -110px;}

/* order-dispatch-maintain */
.order_dispatch_open_datetime{margin-left: -107px;}
.order_dispatch_open_datetime_1{margin-left: 0px}
.order_dispatch_open_datetime_2{margin-left: -120px;}
.order_dispatch_close_datetime{margin-left: -135px;}
.order_dispatch_close_datetime_1{margin-left: 0px}
.order_dispatch_close_datetime_2{margin-left: -145px;}

/* personal-todo */
.personal_todo_open_row1{margin-left: 0px}
.personal_todo_open_row1 .personal_todo_col_1{margin-left: 0px}
.personal_todo_open_row1 .personal_todo_col_2{margin-left: 0px}
.personal_todo_open_row1 .personal_todo_col_3{margin-left: 20px;}
.personal_todo_open_row1 .personal_todo_col_4{margin-left: -80px;}
.personal_todo_open_row1 .personal_todo_col_4 .personal_todo_0_2{margin-left: 70px;}
.personal_todo_open_row2{margin-left: 0px}
.personal_todo_open_row2 .personal_todo_col_1{margin-left: 0px}
.personal_todo_open_row2 .personal_todo_col_2{margin-left: 0px}
.personal_todo_open_row2 .personal_todo_col_3{margin-left: -62px;}
.personal_todo_open_row2 .personal_todo_col_4{margin-left: -47px;}
.personal_todo_open_row3{margin-left: 0px}
.personal_todo_open_row3 .personal_todo_col_1{margin-left: 0px}
.personal_todo_open_row3 .personal_todo_col_2{margin-left: 0px}
.personal_todo_open_row3 .personal_todo_col_3{margin-left: 20px;}
.personal_todo_open_row3 .personal_todo_col_4{margin-left: -80px;}
.personal_todo_close_row1{margin-left: 0px}
.personal_todo_close_row1 .personal_todo_col_1{margin-left: 0px}
.personal_todo_close_row1 .personal_todo_col_2{margin-left: -7px}
.personal_todo_close_row1 .personal_todo_col_3{margin-left: -59px;}
.personal_todo_close_row1 .personal_todo_col_4{margin-left: -103px;}
.personal_todo_close_row1 .personal_todo_col_4 .personal_todo_0_2{margin-left: 40px;}
.personal_todo_close_row2{margin-left: 0px}
.personal_todo_close_row2 .personal_todo_col_1{margin-left: 0px}
.personal_todo_close_row2 .personal_todo_col_2{margin-left: -7px}
.personal_todo_close_row2 .personal_todo_col_3{margin-left: -140px;}
.personal_todo_close_row2 .personal_todo_col_4{margin-left: -79px;}
.personal_todo_close_row3{margin-left: 0px}
.personal_todo_close_row3 .personal_todo_col_1{margin-left: 0px}
.personal_todo_close_row3 .personal_todo_col_2{margin-left: -7px}
.personal_todo_close_row3 .personal_todo_col_3{margin-left: -59px;}
.personal_todo_close_row3 .personal_todo_col_4{margin-left: -103px;}

/* dept-todo */
.dept_todo_open_row1{margin-left: 0px}
.dept_todo_open_row1 .dept_todo_col_1{margin-left: 0px}
.dept_todo_open_row1 .dept_todo_col_2{margin-left: 0px}
.dept_todo_open_row1 .dept_todo_col_3{margin-left: 20px;}
.dept_todo_open_row1 .dept_todo_col_4{margin-left: -80px;}
.dept_todo_open_row2{margin-left: 0px}
.dept_todo_open_row2 .dept_todo_col_1{margin-left: 0px}
.dept_todo_open_row2 .dept_todo_col_2{margin-left: 0px}
.dept_todo_open_row2 .dept_todo_col_3{margin-left: -62px;}
.dept_todo_open_row2 .dept_todo_col_4{margin-left: -47px;}
.dept_todo_open_row3{margin-left: 0px}
.dept_todo_open_row3 .dept_todo_col_1{margin-left: 0px}
.dept_todo_open_row3 .dept_todo_col_2{margin-left: 0px}
.dept_todo_open_row3 .dept_todo_col_3{margin-left: 20px;}
.dept_todo_open_row3 .dept_todo_col_4{margin-left: -80px;}
.dept_todo_close_row1{margin-left: 0px}
.dept_todo_close_row1 .dept_todo_col_1{margin-left: 0px}
.dept_todo_close_row1 .dept_todo_col_2{margin-left: -7px}
.dept_todo_close_row1 .dept_todo_col_3{margin-left: -59px;}
.dept_todo_close_row1 .dept_todo_col_4{margin-left: -103px;}
.dept_todo_close_row2{margin-left: 0px}
.dept_todo_close_row2 .dept_todo_col_1{margin-left: 0px}
.dept_todo_close_row2 .dept_todo_col_2{margin-left: -7px}
.dept_todo_close_row2 .dept_todo_col_3{margin-left: -140px;}
.dept_todo_close_row2 .dept_todo_col_4{margin-left: -79px;}
.dept_todo_close_row3{margin-left: 0px}
.dept_todo_close_row3 .dept_todo_col_1{margin-left: 0px}
.dept_todo_close_row3 .dept_todo_col_2{margin-left: -7px}
.dept_todo_close_row3 .dept_todo_col_3{margin-left: -59px;}
.dept_todo_close_row3 .dept_todo_col_4{margin-left: -103px;}

/* creation-file */
.creation_file_open_row1{margin-left: 0px}
.creation_file_open_row1 .creation_file_col_1{margin-left: 0px}
.creation_file_open_row1 .creation_file_col_2{margin-left: -97px}
.creation_file_open_row1 .creation_file_col_3{margin-left: 113px}
.creation_file_open_row1 .creation_file_col_4{margin-left: -127px}
.creation_file_open_row2{margin-left: 0px}
.creation_file_open_row2 .creation_file_col_1{margin-left: 0px}
.creation_file_open_row2 .creation_file_col_2{margin-left: -97px}
.creation_file_open_row2 .creation_file_col_3{margin-left: 127px}
.creation_file_open_row2 .creation_file_col_4{margin-left: -140px}
.creation_file_open_row3{margin-left: 0px}
.creation_file_open_row3 .creation_file_col_1{margin-left: 0px}
.creation_file_open_row3 .creation_file_col_2{margin-left: -97px}
.creation_file_open_row3 .creation_file_col_3{margin-left: 17px}
.creation_file_open_row3 .creation_file_col_4{margin-left: -29px}
.creation_file_close_row1{margin-left: 0px}
.creation_file_close_row1 .creation_file_col_1{margin-left: 0px}
.creation_file_close_row1 .creation_file_col_2{margin-left: -125px}
.creation_file_close_row1 .creation_file_col_3{margin-left: 114px}
.creation_file_close_row1 .creation_file_col_4{margin-left: -157px}
.creation_file_close_row2{margin-left: 0px}
.creation_file_close_row2 .creation_file_col_1{margin-left: 0px}
.creation_file_close_row2 .creation_file_col_2{margin-left: -125px}
.creation_file_close_row2 .creation_file_col_3{margin-left: 127px}
.creation_file_close_row2 .creation_file_col_4{margin-left: -170px}
.creation_file_close_row3{margin-left: 0px}
.creation_file_close_row3 .creation_file_col_1{margin-left: 0px}
.creation_file_close_row3 .creation_file_col_2{margin-left: -125px}
.creation_file_close_row3 .creation_file_col_3{margin-left: 17px}
.creation_file_close_row3 .creation_file_col_4{margin-left: -60px}

/* notify-other-sales */
.notify_other_sales_open_row1{margin-left: 0px}
.notify_other_sales_open_row1 .notify_other_sales_col_1{margin-left: 0px}
.notify_other_sales_open_row1 .notify_other_sales_col_2{margin-left: -97px}
.notify_other_sales_open_row1 .notify_other_sales_col_3{margin-left: 113px}
.notify_other_sales_open_row1 .notify_other_sales_col_4{margin-left: -127px}
.notify_other_sales_close_row1{margin-left: 0px}
.notify_other_sales_close_row1 .notify_other_sales_col_1{margin-left: 0px}
.notify_other_sales_close_row1 .notify_other_sales_col_2{margin-left: -125px}
.notify_other_sales_close_row1 .notify_other_sales_col_3{margin-left: 114px}
.notify_other_sales_close_row1 .notify_other_sales_col_4{margin-left: -157px}

/* batch-creation-file */
.batch_creation_file_open_row1{margin-left: 0px}
.batch_creation_file_open_row1 .batch_creation_file_col_1{margin-left: 0px}
.batch_creation_file_open_row1 .batch_creation_file_col_2{margin-left: -97px}
.batch_creation_file_close_row1{margin-left: 0px}
.batch_creation_file_close_row1 .batch_creation_file_col_1{margin-left: 0px}
.batch_creation_file_close_row1 .batch_creation_file_col_2{margin-left: -130px}

/* Table
======================================================================= */
td,th {
    padding: 5px;
}

td.osp_features,
th.osp_features {
	text-align: center;
}

.osp_table th,
.osp_table td {
	border: 1px solid black;
}

.table td:nth-of-type(odd) {
	width: 8%;
}

.table td:nth-of-type(even) {
	width: 10%;
}

.osp_table_title {
    background-color: #0093c4 !important; 
    color: #fff; text-shadow: none;
    padding: 3px 5px;
}

.osp_table_name {
	font-size: 20px;
    background-color: #bd0037 !important; 
    color: #fff; text-shadow: none;
    padding: 3px 5px;
}

/* Breadcrumb
======================================================================= */
.osp_breadcrumb {
	font: 12px;
	width: 98.3%;
	height:30px;
	line-height:30px;
	color:#888;
	overflow:hidden;
	margin:0 0 12px 0;
	padding:0px;
	clear: both;
	background-color: transparent;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#FDFDFD), to(#EAEAEA));
	background-image: -webkit-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
	background-image: -moz-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
	background-image: -ms-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
	background-image: -o-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
	background-image: -linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdfdfd', endColorstr='#ffeaeaea', GradientType=0 );
	border: 1px solid #dedede;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.osp_breadcrumb li {
	list-style-type:none;
	margin:0px;
	padding-left:10px;
	padding-right: 15px;
	float:left;
	height:30px;
	display: table;
	background: url(../flip/assets/img/bc-separator.gif) right center no-repeat;
}

.osp_breadcrumb li span {
	display: table-cell;
	vertical-align: middle;
}

.osp_breadcrumb a {
	text-decoration: none;
	color:#333333;
	text-shadow: 1px 1px 0 #fff;
}

.osp_breadcrumb a:hover {
	color: #000000;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .2)!important;
}

.breadcrumb {
	background-color: transparent !important;
	border: 0 !important
}


/* Date time picker
======================================================================= 
	不增加以下強制屬性, 會導致跑版
	.input-medium{
		width: 200px !important;
	}
*/
.input-group-addon {
	background: #ffffff !important;
	border: 0px !important; 
	padding: 0px !important;
	min-width: 0px !important;
}

.form-bordered .form-group > div {
	border-left: 0px solid #efefef !important;
}

/* Page Content
======================================================================= */
.osp_gap{
	margin-top: 30px;
}

.osp_no_border > div{
	border-left: 0 !important;
}

/* Data Table
======================================================================= */
.hide{
	display: none;
}