@charset "utf-8";
/* smartinfo */
h4 {
	font-size: 16px;
}
.smartinfo-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -260px;
	margin-left: -360px;
	width: 720px;
	height: 520px;
	padding: 12px;
	display: block;
	background-color: #ffffff;
	border: 4px solid #565656;
	z-index: 1002;
}
.form-control.input-xs {
	height: 23px;
	padding: 3px 12px;
	font-size: 13px;
	line-height: 1.42857143;
}
.table thead tr th, .table tbody tr th {
	background-color: #efefef !important;
	color: #565656;
}
.table tbody tr:nth-child(even) {
	background-color: #ffffff !important;
}
.table tr th.dt-red {
	background-color: #ef1a1d !important;
	color: #ffffff !important;
}
.table tr .w20 {
	width: 20%;
}
.table tr .w30 {
	width: 30%;
}
.timeline-wrapper {
	position: relative;
}
.timeline {
	padding: 30px 0 0 0;
	position: relative;
}
.timeline-prev, .timeline-next {
	position: absolute;
	z-index: 1003;
	font-size: 26px;
	top: -8px;
	color: #999;
}
.timeline-prev:hover, .timeline-next:hover {
	color: #666;
}
.timeline-prev {
	left: 0px;
}
.timeline-next {
	right: 0px;
}
.bar {
	height: 4px;
	background: #eee;
	width: 100%;
	position: relative;
	top: 10px;
	left: 0;
}
.entry {
	text-align: center;
	position: relative;
}
.entry:after {
	content: '';
	display: block;
	background: #eee;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	border: 3px solid #ababab;
	position: absolute;
	left: 50%;
	top: -28px;
	margin-left: -6px;
}
.timeline-date, .timeline-time {
	font-weight: bold;
	text-align: center;
	display: block;
	font-size: 12px;
}
.timeline-time {
	font-weight: normal;
	color: #666666;
}
.inner {
	height: 124px;
	border-radius: 2px;
	display: block;
	padding: 5%;
	font-size: 12px;
	color: #ffffff !important;
}
.inner-sand {
	background-color: #00a88e;
}
.inner-violet {
	background-color: #ba1a62;
}
.inner-orange {
	background-color: #006aa8;
}
.inner-cayenne {
	background-color: #e4633b;
}
.inner-orchid {
	background-color: #6c3595 ;
}
.inner-hemlock {
	background-color: #e388af;
}
.btn {
	color: #ffffff;
	margin-bottom: 5px;
}
.btn:hover {
	color: #ffffff;
	background-color: #232323;
	background-color: rgba(0,0,0,.35);
}
.btn-sand {
	background-color: #007d6a;
}
.btn-violet {
	background-color: #831245;
}
.btn-orange {
	background-color: #004671;
}
.btn-cayenne {
	background-color: #a63717;
}
.btn-orchid {
	background-color: #44225e;
}
.btn-hemlock {
	background-color: #d64e87;
}
.winner {
	height: 124px;
	border-radius: 2px;
	display: block;
	padding: 1.2%;
	font-size: 12px;
	text-align: left;
	overflow-y: auto;
	color: #ffffff !important;
}
.expandable {
	position: absolute;
	top: 64px;
	z-index: 1005;
	width: 698px;
	display: none;
}
