/*   
Color Index
#7c6684
#5a4a60
#453849
#221c24
#9c88a4
#ded8e0
#ece9ed
*/
.wrapper {
	background: #ece9ed url(../../../img/bg-sidebar.png) repeat-y!important;
}
/* header */
#header.navbar-inverse .navbar-inner {
	background-color: #b71000;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#e31500), to(#b71000));
	background-image: -webkit-linear-gradient(top, #e31500 0%, #b71000 100%);
	background-image: -moz-linear-gradient(top, #e31500 0%, #b71000 100%);
	background-image: -ms-linear-gradient(top, #e31500 0%, #b71000 100%);
	background-image: -o-linear-gradient(top, #e31500 0%, #b71000 100%);
	background-image: -linear-gradient(top, #e31500 0%, #b71000 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe31500', endColorstr='#ffb71000', GradientType=0 );
}
/* sidebar */
.profile-box {
	background: #5a4a60 url(../../../img/bg-profile-box.png) repeat;
}
.profile-function {
	background: #221c24;
}
#sidebar .partner-identity {
	border: 4px solid #9c88a4;
}
#sidebar .tabbable .tab-pane > ul > li > a {
	border-bottom: 1px solid #ded8e0;
	background: #ece9ed url(../../../img/bg-sidebar-nav-item.png) repeat-y;
}
#sidebar .tabbable .tab-pane > ul > li > ul.sub {
	background: #7c6684;
}
#sidebar .tabbable .tab-pane > ul > li > ul.sub > li > a {
	border-bottom: 1px solid #5a4a60;
}
#sidebar .tabbable .tab-pane > ul > li > ul.sub > li.active > a, #sidebar .tabbable .tab-pane > ul > li > ul.sub > li > a:hover {
	background: #453849 url(../../../img/arrow-right.png) 24px center no-repeat !important;
}
#sidebar .tabbable .tab-pane > ul.vertical-menu > li.vertical-dropdown > a:hover, #sidebar .tabbable .tab-pane > ul.vertical-menu > li.vertical-dropdown:hover > a {
	border-top: 1px solid #ded8e0;
	background: #ece9ed url(../../../img/dt-current.png) left center no-repeat!important;
}
ul.vertical-menu li.vertical-dropdown a, ul.vertical-menu li.vertical-dropdown li.vertical-dropdown a {
	border-bottom: 1px solid #5a4a60;
}
ul.vertical-menu li.vertical-dropdown ul li a {
	background: #7c6684;
}
ul.vertical-menu li.vertical-dropdown a:active, ul.vertical-menu li.vertical-dropdown ul li a:hover, ul.vertical-menu li.vertical-dropdown ul li:hover > a {
	background: #453849;
}
ul.vertical-menu li.vertical-dropdown > ul > li.active > a {
	background: #221c24!important;
}
ul.vertical-menu li.vertical-dropdown > ul > li.disabled a:hover {
	background-color: #453849;
}
#sidebar .tab-content .disabled a {
	color: #221c24;
}
/* newsticker */
#news-ticker {
	background: #5a4a60;
}
#news-ticker .carousel-control {
	background: #221c24;
}
/* widget */
.portlet .widget {
	border: 1px solid #ded8e0;
}
.portlet .widget-title {
	border-bottom: 1px solid #ded8e0;
}
.portlet .widget-title > h4 {
	color: #7c6684;
}
.portlet .widget-title span.tools > a {
	border-left :1px solid #ded8e0;
	color: #9c88a4;
}
.boxlet .widget-title {
	border-bottom: 4px solid #ded8e0;
}
.boxlet .widget-title > h4 {
	color: #7c6684;
}
.boxlet .widget-title span.tools > a {
	border-left :1px solid #ded8e0;
	color: #9c88a4;
}
/* data table */
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
	background-color: #ded8e0;
}
.table-hover tbody tr:active > td, .table-hover tbody tr:active > th {
	background-color: #d7d1d8;
}
table.table thead {
	background: #7c6684;
}
table.table tbody tr:nth-child(even) {
    background: #ece9ed;
}