<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/jdbc 
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/data/jpa
                           http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- jdbcTemplate -->
	<bean id="poolJdbcDAO" class="com.fet.crm.osp.kernel.core.db.jdbc.JdbcDAO">
		<property name="dataSource">
			<ref bean="poolDataSource" />
		</property>
	</bean>	
	
	<bean id="ospJdbcDAO" class="com.fet.crm.osp.kernel.core.db.jdbc.JdbcDAO">
		<property name="dataSource">
			<ref bean="ospDataSource" />
		</property>
	</bean>

	<bean id="nspJdbcDAO" class="com.fet.crm.osp.kernel.core.db.jdbc.JdbcDAO">
		<property name="dataSource">
			<ref bean="nspDataSource" />
		</property>
	</bean>
	
	<bean id="ncpJdbcDAO" class="com.fet.crm.osp.kernel.core.db.jdbc.JdbcDAO">
        <property name="dataSource">
            <ref bean="ncpDataSource" />
        </property>
    </bean>
	
	<bean id="ospDataSourceTxManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
        <property name="dataSource"> 
    		<ref bean="ospDataSource"/>
        </property>    
    </bean>
    
    <bean id="poolDataSourceTxManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
        <property name="dataSource"> 
            <ref bean="poolDataSource"/>
        </property>    
    </bean>
    
    <tx:annotation-driven transaction-manager="ospDataSourceTxManager" />
    <tx:annotation-driven transaction-manager="poolDataSourceTxManager" />
    
</beans>